<% include ./partials/header %>

<div class="content">
  <div class="flyer-view">
    <div class="flyer-view__image-grid">
      <img src="<%= flyer.flyerurl %>" alt="flyer image">
    </div>
  </div>
  <div class="flyer-detail">
    <ul class="flyer-detail__overview">
      <li class="flyer-detail__overview-event-name">
        <h1><%= flyer.eventname %></h1>
      </li>
      <li class="flyer-detail__overview-event-venue">
        <h3><a href="<%= flyer.website %>"><%= flyer.venuename %></a></h3>
      </li>
      <li class="flyer-detail__overview-event-date">
        <h3><%= flyer.eventdate %></h3>
      </li>
    </ul>
    <div class="flyer-detail__description">
      <p class="flyer-detail__description-text">Support G-STAV</p>
    </div>
    <div class="flyer-detail__purchase">
      <button class="flyer-detail__purchase-button"><a href="/claim/<%= flyer.id %>">Claim</a></button>
    </div>
    <div class="flyer-detail__purchase">
      <button class="flyer-detail__purchase-button"><a href="/promote/<%= flyer.id %>">Promote</a></button>
    </div>
    <div class="flyer-detail__social-links">
      <svg class="flyer-detail__social-links-facebook">
        <a href="https://facebook.com"><use xlink:href="/images/sprite.svg#icon-facebook"></use></a>
      </svg>
      <svg class="flyer-detail__social-links-twitter">
        <a href="https://twitter.com"><use xlink:href="/images/sprite.svg#icon-twitter"></use></a>
      </svg>
    </div>
    <div class="flyer-detail__promoter-rating">
      <div class="flyer-detail__promoter-rating-img">
        <img src="/images/promoter.png" alt="promoter image">
      </div>
      <div class="flyer-detail__promoter-rating-info">
        <p class="flyer-detail__promoter-rating-info__name">Promoter</p>
        <div class="flyer-detail__promoter-rating-info__stars">
          <svg class="flyer-detail__promoter-rating-info__icon-star">
            <use xlink:href="/images/sprite.svg#icon-star"></use>
          </svg>
          <svg class="flyer-detail__promoter-rating-info__icon-star">
            <use xlink:href="/images/sprite.svg#icon-star"></use>
          </svg>
          <svg class="flyer-detail__promoter-rating-info__icon-star">
            <use xlink:href="/images/sprite.svg#icon-star"></use>
          </svg>
          <svg class="flyer-detail__promoter-rating-info__icon-star">
            <use xlink:href="/images/sprite.svg#icon-star"></use>
          </svg>
          <svg class="flyer-detail__promoter-rating-info__icon-star">
            <use xlink:href="/images/sprite.svg#icon-star"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="flyer-detail__location">
      <div class="flyer-detail__location-icon">
        <svg class="flyer-detail__location-icon__icon">
          <use xlink:href="/images/sprite.svg#icon-location-pin"></use>
        </svg>
      </div>
      <div class="flyer-detail__location-address">
        <p class="direction"><a href="http://maps.google.com">Get directions</a></p>
      </div>
    </div>
  </div>
</div>

<% include ./partials/footer %>
